<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <script src="https://unpkg.com/htmlincludejs"></script>
        
    </head>

    <body>
        <include src="topnav.html"></include>

        <div class="grid-x">
            <div class="cell medium-6 large-3 sidebarMenu">
                <div class="sidebar-header">
                    <p class="headingXL">Components</p>
                </div>
                <nav class="nav-menu">
                    <button class="nav-item regular active" data-tab="nav1"><p class="labelM">Nav 1</p></button>
                    <button class="nav-item regular grid-x" data-tab="nav2" data-has-dropdown="true"><p class="labelM">Inputs<i class="ph ph-caret-up drop-down-sub size24"></i></p></button>
                        <div class="sub-menu">
                            <button class="nav-item sub" data-tab="sub1" data-parent="nav2"><p class="labelS">Button</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Checkbox</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Datepicker</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Radio</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Slider</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Text field</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Toggle</p></button>
                        </div>
                    <button class="nav-item regular grid-x" data-tab="nav2" data-has-dropdown="true"><p class="labelM">Content<i class="ph ph-caret-up drop-down-sub size24"></i></p></button>
                        <div class="sub-menu">
                            <button class="nav-item sub" data-tab="sub1" data-parent="nav2"><p class="labelS">Accordion</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Avatar</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Cards</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Footer</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Header</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Menu</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Navbar</p></button>
                        </div>
                    <button class="nav-item regular grid-x" data-tab="nav2" data-has-dropdown="true"><p class="labelM">Tables<i class="ph ph-caret-up drop-down-sub size24"></i></p></button>
                    <button class="nav-item regular grid-x" data-tab="nav2" data-has-dropdown="true"><p class="labelM">Navigation<i class="ph ph-caret-up drop-down-sub size24"></i></p></button>
                        <div class="sub-menu">
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Navbar</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Side Nav</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Tabs</p></button>
                        </div>
                    <button class="nav-item regular grid-x" data-tab="nav2" data-has-dropdown="true"><p class="labelM">Progess & Validation<i class="ph ph-caret-up drop-down-sub size24"></i></p></button>
                        <div class="sub-menu">
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Badge</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Feedback</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Notification</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Progess Bar</p></button>
                        </div>
                    <button class="nav-item regular grid-x" data-tab="nav2" data-has-dropdown="true"><p class="labelM">Surfaces<i class="ph ph-caret-up drop-down-sub size24"></i></p></button>
                        <div class="sub-menu">
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Cards</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Modal</p></button>
                            <button class="nav-item sub" data-tab="sub2" data-parent="nav2"><p class="labelS">Tooltip</p></button>
                        </div>
                </nav>
            </div>

            <div class="cell medium-6 large-9 selected-content">
                <div id="nav1" class="content-section">Home content</div>
                <div id="nav2" class="content-section hidden">Tab 2's content</div>
                <div id="sub1" class="content-section hidden">Submenu 1 content</div>
                <div id="sub2" class="content-section hidden">Submenu 2 content</div>
                <div id="nav3" class="content-section hidden">Third tab</div>
            </div>
        </div>

        <script src="sidenavigation.js" async defer></script>

    </body>
</html>

