<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/navbar.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../components/navigation.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <script src="https://unpkg.com/htmlincludejs"></script>
        
    </head>

    <body>
        <div class="documentation">
            <div class="example">
                <div class="choices">
                    <div class="employersCard">
                    <div class="cardInfo">
                        <i class="ph ph-user employer-card-icon size32"></i>
                        <p class="headingL">Employers</p>
                        <p class="bodyL">
                            INPRS participating employers resource guides.
                        </p>
                    </div>
                    <div class="readMore">
                        <span style="color:var(--text-inverse);"><p class="linkL">Go to employer <i class="ph ph-caret-double-right size16"></i></p></span>
                    </div>
                    </div>
                    
                    <div class="membersCard">
                    <div class="cardInfo">
                        <i class="ph ph-briefcase member-card-icon size32"></i>
                        <p class="headingL">Members</p>
                        <p class="bodyL">
                            Get up to date information for:
                        </p>
                        <ul>
                            <li>INPRS working members</li>
                            <li>Retirees</li>
                            <li>Survivors</li>
                            <li>Beneficiaries</li>
                        </ul>
                    </div>
                    <div class="readMore">
                        <p class="linkL">Go to plan info <i class="ph ph-caret-double-right size16"></i></p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="tabs">
                <div class="tab-buttons">
                    <button class="tab-btn active" data-tab="index-properties">Props</button>
                    <button class="tab-btn" data-tab="index-anatomy">Anatomy</button>
                    <button class="tab-btn" data-tab="index-code">Code Snippet</button>
                </div>

                <div class="tab-content">
                    <div id="index-properties" class="tab-panel active">
                        <h1><span style="color: var(--icon-success);"><i class="ph-fill ph-check-circle"></i></span> Best Practices</h1>
                        <h3>use when</h3>

                        <h1><span style="color: var(--icon-danger);"><i class="ph-fill ph-x-circle"></i></span> When Not to Use</h1>
                        <h3>don't use</h3>
                    </div>
                    <div id="index-anatomy" class="tab-panel">
                        <img src="./images/memberCard_anatomy.png">
                        <img src="./images/memberCard_layout.png">

                        <img src="./images/employerCard_anatomy.png">
                        <img src="./images/employerCard_layout.png">
                    </div>
                    <div id="index-code" class="tab-panel">
                        <iframe src="https://alkellerin.github.io/DUXDocumentationSite/codeThemes/codeIndexCard.html" width="1000" height="1000"  frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            


        </div>
        
        <script src="../components.js" async defer></script>

    </body>
    
</html>