<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/navbar.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../components/navigation.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <script src="https://unpkg.com/htmlincludejs"></script>
        
    </head>

    <body>
        <div class="documentation">
            <div class="example">
                <div class="vertical">
                    <!-- INFO CARD SMALL ---------------------------------------------------------- -->
                    <div class="info-card-small">
                        <p class="headingS">Card Title</p>
                        <p class="bodyS">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
                        <!-- placeholder content/buttons go here -->
                    </div>

                    <!-- INFO CARD LARGE ---------------------------------------------------------- -->
                    <div class="info-card-large">
                        <p class="headingL">Card Title</p>
                        <p class="bodyL">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
                        <!-- placeholder content/buttons go here -->
                    </div>
                </div>

                <div class="vertical">
                    <!-- INFO CARD SMALL V2---------------------------------------------------------- -->
                    <div class="info-card-small">
                        <i class="ph ph-check size32"></i>
                        <p class="headingS"><span style="color:var(--text-brand-blue)">Card Title</span></p>
                        <p class="bodyS">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
                    </div>
                    
                    <!-- INFO CARD LARGE V2---------------------------------------------------------- -->
                    <div class="info-card-large">
                        <i class="ph ph-check size24"></i>
                        <p class="headingL"><span style="color:var(--text-brand-blue)">Card Title</span></p>
                        <p class="bodyL">Lorem ipsum dolor sit amet, consectetur elit adipiscing, sed do eiusm tem dolor.</p>
                    </div>
                </div>
            </div>

            <div class="tabs">
                <div class="tab-buttons">
                    <button class="tab-btn active" data-tab="tab1">Properties</button>
                    <button class="tab-btn" data-tab="tab2">Anatomy</button>
                    <button class="tab-btn" data-tab="tab3">Code Snippet</button>
                </div>

                <div class="tab-content">
                    <div id="tab1" class="tab-panel active">
                        <h1><span style="color: var(--icon-success);"><i class="ph-fill ph-check-circle"></i></span> Best Practices</h1>
                        <h3>use when</h3>

                        <h1><span style="color: var(--icon-danger);"><i class="ph-fill ph-x-circle"></i></span> When Not to Use</h1>
                        <h3>don't use</h3>

                        <img src="./images/infoCard_properties.png">
                    </div>
                    <div id="tab2" class="tab-panel">
                        <img src="./images/infoCard_anatomy.png">
                        <img src="./images/infoCard_layout.png">
                    </div>
                    <div id="tab3" class="tab-panel">
                        <p>Pricing details go here.</p>
                    </div>
                </div>
            </div>
            


        </div>
        
        <script src="../components.js" async defer></script>

    </body>
    
</html>