/* BLUE HEADER W ILLUSTRATION */
.blue-banner {
    background-color: var(--bg-brand-blue);
    color: var(--text-inverse);
}

.page-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 0rem 2.5rem 9.25rem;
    max-width: 762px;
    float: left;
    height: 100%;
}

.blue-banner-thumbnail {
    padding: 2.5rem 0rem 2.5rem 9.25rem;
    max-width: 762px;
}

.banner-illustration {
    max-width: 100%;
    height: 18rem;
    float: right;
    padding-top: 1.5rem;
}

/* WHITE HEADER W IMAGE AND BACKGROUND IMG */
.light-banner {
    background-color: var(--bg-default);
    color: var(--text-brand-blue);

    background-image: url('https://assets.codepen.io/2146429/hero-background.png');
    background-repeat: no-repeat;
    background-size: 60%; 
}

.light-banner-image {
    height: 100%;
}

.banner-image {
    float: right;
}

    @media (max-width: 624px) {
        .light-banner-image, .banner-illustration {
            display: none;
        }
        
        .light-banner {
            height: 400px !important;
            background-image: none;
        }
        
        .buttongrouping {
            flex-direction: column;
        }
        
        .page-info {
            padding-left: .5rem;
            margin: 1rem;
        }
        
    }