/* ONLY FOR THIS WEBSITE - NOT QUEST DESIGN SYSTEM */
h1 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    font-size: 24px !important;
}

h2 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    font-size: 20px !important; 
}

h3 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    margin-bottom: 0 !important; 
}

h4 {
    font-family: 'Inter', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

h5 {
    font-family: 'Google Sans Code', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
}


p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0 ;
}

/* FONT WEIGHTS --------------------------------------------------------*/
.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.demi {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* HEADINGS --------------------------------------------------------*/
:root {
    --font-family: "Greycliff CF", sans-serif;
}

.headingXXL {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.headingXL {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    margin: 0;
}

.headingL {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

.headingM {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.headingS {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.headingXS {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

/* BODY --------------------------------------------------------*/
.bodyL {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.bodyM {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.bodyS {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.bodyXS {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

/* LINK --------------------------------------------------------*/
.linkL {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
}

.linkM {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    margin: 0;
}

.linkS {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    margin: 0;
}

/* LABEL --------------------------------------------------------*/
.labelM {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.labelS {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.labelXS {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    margin: 0;
}

/* INPUT --------------------------------------------------------*/
.inputM {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}