* {
    font-family: "greycliff-cf","Lexend Deca", sans-serif !important;
}

body {
    background-color: #fdfdfd;
}

:root {
/* PRIMITVES */
	--light-background-100: #FAFBFF;
	--light-background-150: #E8ECFF;
	--light-background-200: #D6DDFD;
	--light-background-250: #C6CEFB;
	--light-background-300: #B6BFF8;
	--light-background-350: #A7B0F5;
	--light-background-400: #99A2F0;
	--light-background-450: #8B94EB;
	--light-background-500: #707BE5;
	--light-background-550: #5663DF;
	--light-background-600: #3C4CD8;
	--light-background-650: #2A3BC8;
	--light-background-700: #2634AC;
	--light-background-750: #1C2674;
	
	--light-gray-100: #FEFEFE;
	--light-gray-150: #F5F5F5;
	--light-gray-200: #EBEBEB;
	--light-gray-250: #E1E1E1;
	--light-gray-300: #D8D8D8;
	--light-gray-350: #CECECE;
	--light-gray-400: #C4C4C4;
	--light-gray-450: #BBBBBB;
	--light-gray-500: #B1B1B1;
	--light-gray-550: #9B9B9B;
	--light-gray-600: #858585;
	--light-gray-650: #6F6F6F;
	--light-gray-700: #595959;
	--light-gray-750: #444444;
	--light-gray-800: #2E2E2E;
	--light-gray-850: #181818;
	--light-gray-900: #020202;

	--light-red-100: #FEFDFD;
	--light-red-150: #F5DEE0;
	--light-red-200: #EBBFC4;
	--light-red-250: #E2A0A7;
	--light-red-300: #D9818A;
	--light-red-350: #CF626E;
	--light-red-400: #C64351;
	--light-red-450: #BC2435;
	--light-red-500: #B30518;
	--light-red-550: #9D0415;
	--light-red-600: #870412;
	--light-red-650: #71030F;
	--light-red-700: #5A030C;
	--light-red-750: #440209;
	--light-red-800: #2E0106;
	--light-red-850: #180103;
	--light-red-900: #020000;

	--light-green-100: #FDFEFD;
	--light-green-150: #E5EEDF;
	--light-green-200: #C8DFC1;
	--light-green-250: #A8CFA3;
	--light-green-300: #85C087;
	--light-green-350: #67B073;
	--light-green-400: #49A164;
	--light-green-450: #2B9259;
	--light-green-500: #0D8252;
	--light-green-550: #0B7248;
	--light-green-600: #0B7248;
	--light-green-650: #085234;
	--light-green-700: #074229;
	--light-green-750: #05321F;
	--light-green-800: #032215;
	--light-green-850: #02110B;
	--light-green-900: #000101;

    --light-yellow-100: #FFFEFD;
	--light-yellow-150: #FCF3DF;
	--light-yellow-200: #F8E8C2;
	--light-yellow-250: #F5DDA5;
	--light-yellow-300: #F2D287;
	--light-yellow-350: #EFC76A;
	--light-yellow-400: #EBBC4D;
	--light-yellow-450: #E8B12F;
	--light-yellow-500: #E5A612;
	--light-yellow-550: #C99210;
	--light-yellow-600: #AC7D0E;
	--light-yellow-650: #90680B;
	--light-yellow-700: #745409;
	--light-yellow-750: #573F07;
	--light-yellow-800: #3B2B05;
	--light-yellow-850: #1F160;
	--light-yellow-900: #000102;

	--light-blue-100: #FCFEFE;
	--light-blue-150: #DDEDF3;
	--light-blue-200: #BDDCE8;
	--light-blue-250: #9ECBDD;
	--light-blue-300: #7EBAD3;
	--light-blue-350: #5FAAC8;
	--light-blue-400: #3F99BD;
	--light-blue-450: #2088B2;
	--light-blue-500: #0077A7;
	--light-blue-550: #006892;
	--light-blue-600: #005A7E;
	--light-blue-650: #004B69;
	--light-blue-700: #003C54;
	--light-blue-750: #002D40;
	--light-blue-800: #001F2B;
	--light-blue-850: #001016;
	--light-blue-900: #000102;

	--light-brand-yellow-100: #FFFEFD;
	--light-brand-yellow-150: #FEF5E3;
	--light-brand-yellow-200: #FEEBC9;
	--light-brand-yellow-250: #FDE2B0;
	--light-brand-yellow-300: #FDD996;
	--light-brand-yellow-350: #FCCF7C;
	--light-brand-yellow-400: #FBC663;
	--light-brand-yellow-450: #FBBC49;
	--light-brand-yellow-500: #FAB32F;
	--light-brand-yellow-550: #DB9D29;
	--light-brand-yellow-600: #BC8723;
	--light-brand-yellow-650: #BC8723;
	--light-brand-yellow-700: #7E5A18;
	--light-brand-yellow-750: #5F4412;
	--light-brand-yellow-800: #402E0C;
	--light-brand-yellow-850: #211806;
	--light-brand-yellow-900: #030201;

	--light-brand-blue-100: #FDFDFE;
	--light-brand-blue-150: #E1E2EC;
	--light-brand-blue-200: #C5C7DB;
	--light-brand-blue-250: #A9ACCA;
	--light-brand-blue-300: #8C91B9;
	--light-brand-blue-350: #7077A8;
	--light-brand-blue-400: #545C96;
	--light-brand-blue-450: #384185;
	--light-brand-blue-500: #1C2674;
	--light-brand-blue-550: #192166;
	--light-brand-blue-600: #151D57;
	--light-brand-blue-650: #121849;
	--light-brand-blue-700: #0E133B;
	--light-brand-blue-750: #0B0F2C;
	--light-brand-blue-800: #070A1E;
	--light-brand-blue-850: #040510;
	--light-brand-blue-900: #000001;

/* VARIABLES */
	/* TYPOGRAPHY */
    --text-display: var(--light-gray-100);
	--text-bold: var(--light-gray-850);
	--text-subtle: var(--light-gray-750);
    --text-label: var(--light-gray-650);
	--text-disabled: var(--light-gray-500);
	--text-inverse: var(--light-gray-100);
    --text-inverse-subtle: var(--light-gray-300);
	--text-link: var(--light-blue-500);
	--text-link-inactive: var(--light-blue-200);
	--text-link-hover: var(--light-blue-700);
	--text-link-active: var(--light-blue-400);
    --text-brand-blue: var(--light-brand-blue-500);
	--text-brand-yellow: var(--light-brand-yellow-500);
	--text-warning: var(--light-yellow-500);
	--text-success: var(--light-green-500);
	--text-danger: var(--light-red-500);
	--text-info: var(--light-blue-500);

	/* ICONS */
    --icon-display: var(--light-gray-100);
	--icon-bold: var(--light-gray-850);
	--icon-subtle: var(--light-gray-750);
    --icon-label: var(--light-gray-650);
	--icon-disabled: var(--light-gray-500);
	--icon-inverse: var(--light-gray-100);
    --icon-inverse-subtle: var(--light-gray-300);
	--icon-link: var(--light-blue-500);
	--icon-link-inactive: var(--light-blue-200);
	--icon-link-hover: var(--light-blue-700);
	--icon-link-active: var(--light-blue-400);
    --icon-brand-blue: var(--light-brand-blue-500);
	--icon-brand-yellow: var(--light-brand-yellow-500);
	--icon-warning: var(--light-yellow-500);
	--icon-success: var(--light-green-500);
	--icon-danger: var(--light-red-500);
	--icon-info: var(--light-blue-500);

	/* BORDER */
	--border-subtle: var(--light-gray-500);
	--border-bold: var(--light-gray-800);
	--border-brand-blue: var(--light-brand-blue-500);
	--border-brand-yellow: var(--light-brand-yellow-500);
	--border-inverse: var(--light-gray-100);
	--border-info: var(--light-blue-500);
	--border-focus: var(--light-blue-400);
	--border-success: var(--light-green-500);
	--border-warning: var(--light-yellow-500);
	--border-danger: var(--light-red-500);
	--border-link: var(--light-blue-500);
	--border-link-inactive: var(--light-blue-900);
	--border-link-hover: var(--light-blue-800);
	--border-link-active: var(--light-blue-200);

	/* BACKGROUND */
	--bg-default: var(--light-gray-100);
	--bg-subtle: var(--light-background-100);
	--bg-darker: var(--light-background-200);
	--bg-darkest: var(--light-background-200);
	--bg-brand-yellow: var(--light-brand-yellow-500);
	--bg-brand-yellow-hover: var(--light-brand-yellow-600);
	--bg-brand-yellow-active: var(--light-brand-yellow-700);
	--bg-brand-yellow-subtlest: var(--light-brand-yellow-150);
	--bg-brand-blue: var(--light-brand-blue-500);
	--bg-brand-blue-hover: var(--light-brand-blue-600);
	--bg-brand-blue-active: var(--light-brand-blue-700);
	--bg-brand-blue-subtlest: var(--light-brand-blue-150);
	--bg-input: var(--light-gray-100);
	--bg-input-hover: var(--light-gray-200);
	--bg-info: var(--light-gray-500);
	--bg-info-hover: var(--light-gray-600);
	--bg-info-active: var(--light-gray-700);
	--bg-info-sublest: var(--light-gray-150);
	--bg-danger: var(--light-red-500);
	--bg-danger-hover: var(--light-red-600);
	--bg-danger-active: var(--light-red-700);
	--bg-danger-sublest: var(--light-red-150);
	--bg-success: var(--light-green-500);
	--bg-success-hover: var(--light-green-600);
	--bg-success-active: var(--light-green-700);
	--bg-success-sublest: var(--light-green-150);
	--bg-warning: var(--light-yellow-500);
	--bg-warning-hover: var(--light-yellow-600);
	--bg-warning-active: var(--light-yellow-700);
	--bg-warning-sublest: var(--light-yellow-150);

	--bg-surface: var(--light-gray-100);
	--bg-surface-raised: var(--light-gray-100);
	--bg-surface-overlay: var(--light-gray-100);
	--bg-surface-sunken: var(--light-gray-200);
	--bg-surface-bold: var(--light-gray-800);
	--bg-surface-bold-brand: var(--light-blue-900);

	--bg-gray-subtle: var(--light-gray-100);
	--bg-gray-subtle-hover: var(--light-gray-200);
	--bg-gray-subtle-active: var(--light-gray-200);
	--bg-gray-subtler: var(--light-gray-200);
	--bg-gray-subtler-hover: var(--light-gray-300);
	--bg-gray-subtler-active: var(--light-gray-400);
	--bg-gray-bold: var(--light-gray-800);
	--bg-gray-bold-hover: var(--light-gray-900);
	--bg-gray-bold-active: var(--light-gray-700);
}

/* SIZING ------------------------------------------------------------------- */
.size12 {
    font-size: 12px;
}

.size16 {
    font-size: 16px;
}

.size24 {
    font-size: 24px;
}

.size32 {
    font-size: 32px;
}

/* DROPSHADOW ------------------------------------------------------------------- */
.drop-shadow-raised {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
}

.drop-shadow-overlay {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.12);
}
