<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/navbar.css">
        <link rel="stylesheet" href="../components/navigation.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <script src="https://unpkg.com/htmlincludejs"></script>
        
    </head>

    <body>
        <div class="documentation">
            <div class="example">
<div class="faq-container row">
        <p class="headingM">Frequently Asked Questions</p>

        <div class="faq-menu">

          <div class="faq-item">
            <div class="faq-question grid-x">
              <div class="cell medium-6 large-10">
                <p class="labelM">Question?</p>
              </div>
              <div class="cell medium-6 large-2">
                <i class="ph ph-caret-down drop-down size24"></i>
              </div>
            </div>

            <div class="faq-answer">
              <p class="bodyM">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
              </p>
            </div>
          </div>

          <div class="faq-item">
            <div class="faq-question grid-x">
              <div class="cell medium-6 large-10">
                <p class="labelM">Question?</p>
              </div>
              <div class="cell medium-6 large-2">
                <i class="ph ph-caret-down drop-down size24"></i>
              </div>
            </div>

            <div class="faq-answer">
              <p class="bodyM">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>

        </div>

      </div>
            </div>

            <div class="tabs">
                <div class="tab-buttons">
                    <button class="tab-btn active" data-tab="tab1">Props</button>
                    <button class="tab-btn" data-tab="tab2">Anatomy</button>
                    <button class="tab-btn" data-tab="tab3">Code Snippet</button>
                </div>

                <div class="tab-content">
                    <div id="tab1" class="tab-panel active">
                        <h2><i class="ph ph-check"></i> When to Use</h2>
                        <h3>use when</h3>

                        <h2><i class="ph ph-x"></i> When to Not Use</h2>
                        <h3>don't use</h3>
                    </div>
                    <div id="tab2" class="tab-panel">
                        <p>Here are the features.</p>
                    </div>
                    <div id="tab3" class="tab-panel">
                        <p>Pricing details go here.</p>
                    </div>
                </div>
            </div>
            
        </div>   
        
        <script>
            // FAQ Animation
            const faqQuestions = document.querySelectorAll(".faq-question");

            faqQuestions.forEach((question) => {
            question.addEventListener("click", () => {
                faqQuestions.forEach((item) => {
                if (item !== question) {
                    item.classList.remove("active");
                    item.nextElementSibling.style.maxHeight = null;
                }
                });

                question.classList.toggle("active");

                const answer = question.nextElementSibling;

                if (answer.style.maxHeight) {
                answer.style.maxHeight = null;
                } else {
                answer.style.maxHeight = answer.scrollHeight + "px";
                }
            });
            });
        </script>
        


    </body>
    
</html>