<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../../styles/navbar.css">
        <link rel="stylesheet" href="../../styles/styles.css">
        <link rel="stylesheet" href="../../components/navigation.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <script src="https://unpkg.com/htmlincludejs"></script>
        
    </head>

    <body>
        <!-- <div class="wrapper"> -->
            <div class="flex-row flex-gutters flex-col-2 blue-banner">
                <div class="grid-cell">
                    <div class="page-info">
                        <p class="bodyS">Publications > PDFS</p>
                        <p class="headingXL">About INPRS</p>
                        <p class="bodyM">With approximately $50 billion in assets under management at fiscal year-end 2024, the Indiana Public Retirement System (INPRS) is among the largest 100 pension funds in the United States. We work to serve the needs of approximately 542,793 members representing 1,333 employers including public universities, school corporations, municipalities, and state agencies.</p>
                    </div>
                </div>
                <div class="grid-cell">
                    <div class="blue-banner-thumbnail">
                        <img src="../../images/INem-crop.png" class="banner-illustration" alt="" />
                    </div>
                </div>
            </div>
        <!-- </div> -->

        <!-- <div class="wrapper"> -->
            <div class="flex-row flex-gutters flex-col-2 light-banner">
                <div class="grid-cell ">
                    <div class="page-info">
                        <p class="bodyS">Publications > PDFS</p>
                        <p class="headingXL">PERF Employers</p>
                    </div>
                </div>
                <div class="grid-cell">
                    <div class="light-banner-image">
                        <img src="../../images/HeaderContent/GradientEmployerResources.png" class="banner-image" alt="" />
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </body>
</html>

