<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/hbi2boz.css">
        <link rel="stylesheet" href="../styles/navbar.css">
        <link rel="stylesheet" href="../components/navigation.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
        

        <script src="https://unpkg.com/htmlincludejs"></script>
        
    </head>

    <body>
        <div class="documentation">
            <div class="example">
                <div class="vertical">
                    <a class="button-brand labelM" href="">Button Title</a>
                    <a class="button-brand-small labelS" href="">Button Title</a>
                    <a class="button-brand-subtle labelM" href="">Button Title</a>
                    <a class="button-brand-subtle-small labelS" href="">Button Title</a>
                </div>

                <div class="vertical">
                    <a class="button-gray labelM" href="">Button Title</a>
                    <a class="button-gray-small labelS" href="">Button Title</a>
                    <a class="button-gray-subtle labelM" href="">Button Title</a>
                    <a class="button-gray-subtle-small labelS" href="">Button Title</a>         
                </div>

                <div class="vertical">
                    <a class="button-danger labelM" href="">Button Title</a>
                    <a class="button-danger-small labelS" href="">Button Title</a>
                    <a class="button-danger-subtle labelM" href="">Button Title</a>
                    <a class="button-danger-subtle-small labelS" href="">Button Title</a>
                </div>

                <div class="vertical">
                    <a class="button-brand-yellow labelM" href="">Log in</a>
                    <a class="button-brand-yellow-small labelS" href="">Log in</a>
                    <a class="button-link labelS" href="">External link</a>
                </div>


            </div>

            <div class="tabs">
                <div class="tab-buttons">
                    <button class="tab-btn active" data-tab="buttons-properties">Properties</button>
                    <button class="tab-btn" data-tab="buttons-anatomy">Anatomy</button>
                    <button class="tab-btn" data-tab="buttons-code">Code Snippet</button>
                </div>

                <div class="tab-content">
                    <div id="buttons-properties" class="tab-panel active">
                        <h1><span style="color: var(--icon-success);"><i class="ph-fill ph-check-circle"></i></span> Best Practices</h1>
                        <ul>
                            <li>
                                <h2>Use Clear, Action-Oriented Labels</h2>
                                <h3>Labels like “Submit,” “Download,” or “Start Free Trial” are better than vague ones like “Click Here.”</h3>
                            </li>
                            <li>
                                <h2>Prioritize with Visual Hierarchy</h2>
                                <h3>Use primary, secondary, and tertiary styles to guide attention. The most important action should stand out visually.</h3>
                            </li>
                            <li>
                                <h2>Provide Feedback on Interaction</h2>
                                <h3>Use loading indicators, success messages, or visual changes to confirm that an action was triggered.</h3>
                            </li>
                        </ul>

                        <h1><span style="color: var(--icon-danger);"><i class="ph-fill ph-x-circle"></i></span> When Not to Use</h1>
                        <ul>
                            <li>
                                <h2>Using Overly Long Button Labels</h2>
                                <h3>Buttons with lengthy text can overwhelm users. Keep labels short and action-oriented.</h3>
                            </li>
                            <li>
                                <h2>Using Too Many Primary Buttons</h2>
                                <h3>When everything is “primary,” nothing stands out. Limit to one main action per screen.</h3>
                            </li>
                            <li>
                                <h2>Disabling Buttons Without Explanation</h2>
                                <h3>If a button is inactive, explain why (ex.  “Please fill out all required fields.”)</h3>
                            </li>
                        </ul>
                    </div>
                    <div id="buttons-anatomy" class="tab-panel">
                        <p>Here are the features.</p>
                    </div>
                    <div id="buttons-code" class="tab-panel">
                        <iframe src="https://alkellerin.github.io/DUXDocumentationSite/codeThemes/codeButton.html" width="1000" height="1000"  frameborder="0"></iframe>
                    </div>
                </div>

            </div>
            


        </div>

        <script src="../sidenavigation.js" async defer></script>

    </body>
    
</html>